{% extends 'layout.html' %}

{% block content%}
<h5 class="text-center">{{category.name}}</h5>
<hr>
<a class="btn btn-sm btn-outline-info center ml-5 m-2 btn-float" href="/category/pitch/new/{{category.id}}" style="position: relative;">Add pitch</a>

<div class="container">
   <div class="row">
        
                {% if pitch %}
            {% for pitch in pitch %}
            <div class='col-md-4 mb-2'>
                    <div class="card">
                    
                            <ul>
                                
                                    {{ pitch.description }}
                                
                            </ul>
                            <div class="col-md-1 mb-1">
                                    <a href="/comments/{{pitch.id}}" class="btn btn-sm  btn-outline-info"> comments</a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="/comments/new/{{pitch.id}}" class="btn  btn-sm  btn-outline-info">Add Comment</a>
                                </div>
                    
                        </div>
            </div>
            
            
        
            
        {% else %}
         <h4 class="text-center"> No pitches yet</h4>
         {% endfor %}
        {% endif %}

   </div> 
</div>

{% endblock %}